<!DOCTYPE html>
<html>
<head>
<style>
*{
  font-family: 'Georgia', 'Times', serif;
}
</style>
</head>
<body>
  <h1>About Me</h1>
    <p>My Hobbies Include: </p>
  <ul>
    <li>Programming</li>
    <li>Working Out</li>
    <li>Playing Soccer</li>
    <li>Reading</li>
    <li>Learning</li>
  </ul>
  <%= link_to 'Home', root_path %>
  <footer>
    <small> Created by Fernando</small>
  </footer>
</body>
</html>