<!DOCTYPE html>
<html>
<head>
<style>
*{
  font-family: 'Georgia', 'Times', serif;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0AACBA;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
</head>

<body>
  <h1>Home Page</h1>
  <p>This is my website's home page. Click my image to learn more about me.</p>
  <div class="container">
    <img src=https://scontent.xx.fbcdn.net/v/t1.0-9/15697453_1328394187232115_8289213309943255167_n.jpg?oh=7ffcecaaeee24dead79902602546ce06&oe=59E26D95 alt="Avatar" class="image">
    <div class="overlay">
      <div class="text">
        <%= link_to 'About', about_path %>
      </div>
    </div>
  </div>
  <footer>
    <small> Created by Fernando</small>
  </footer>
</body>
</html>