/*
  This custom CSS SCSS File stores styles to all style sheets
*/

$navbar-default-bg: #5BC0DE;

/*
  Imports the bootstrap sprockets
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* ID 'logo' is assigned to the navbar in '_navigation.html.erb' */
#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration:none;
}

/* Global class anything that uses "center" in class will be text-aligned. */
.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('IMG_2963.JPG');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  /* background-color: black; */
}

/* Styling for show article 'show.html.erb' */
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

/* Styling for indexed articles 'index.html.erb' */
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

/* Style for the small element in footer.  */
footer small {
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

/*
  Additional elements in list will be added to the left.
  Separaton of list items by 15 px each.
*/
footer ul li {
  float: left;
  margin-left: 15px;
}
